@keyframes estrella {
  0% {
    transform: rotate(-180deg);
  }
  50% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@media (max-width: 1024px) {
  .item-uno {
    background-color: #01BFA5;
    /*grid-column*/
    grid-column: 1/3;
    /*grid-row*/
    grid-row: 1/3;
  }
  .item-uno:hover {
    scale: 1.1;
    transition: 2s;
  }
  .item-uno h2 {
    font-size: 2.5rem;
    padding-left: 19px;
  }
  .item-uno p {
    font-size: 1.5rem;
    padding: 19px;
  }
  .item-uno img {
    width: auto;
    height: 200px !important;
    margin-top: 25%;
  }
  .banner-contact {
    height: 409px;
    background-image: url(../imgs/contacto-resposive.jpg) !important;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .banner-contact h1 {
    padding: 10px;
    background-color: #222222;
    border-radius: 10px;
  }
  .banner-drinks {
    height: 409px;
    background-image: url(../imgs/bebida-responsive.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .banner-drinks h1 {
    padding: 10px;
    background-color: #222222;
    border-radius: 10px;
  }
  .tienda .lista-burgers {
    display: block !important;
    padding: 10px;
    border-top: 1px solid #1a1a1a;
    margin-right: 90px;
    margin-left: 90px;
    align-items: center;
    margin-bottom: 20px;
  }
  .tienda .lista-burgers a {
    text-decoration: none;
    color: white;
    background-color: #F75555;
    padding: 5px;
    border-radius: 10px;
  }
  .tienda .lista-burgers a:hover {
    color: black;
    background-color: greenyellow;
    padding: 10px;
    transition: 1s;
    font-family: "Courier New", Courier, monospace;
  }
  .tienda .lista-burgers img {
    height: 190px;
    border-radius: 10px;
  }
  footer {
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid gray;
  }
  footer img {
    width: auto;
    height: 100px;
  }
  footer ul {
    display: block !important;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 10px;
  }
  footer ul li {
    list-style-type: none;
  }
  footer ul li a {
    text-decoration: none;
    color: white;
    margin: 5px;
  }
  footer ul li a:hover {
    color: orange;
    padding: 10px;
    transition: 1s;
  }
  .banner-main {
    height: 409px;
    background-image: url(../imgs/historia-2.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .banner-main h1 {
    padding: 10px;
    background-color: #222222;
    border-radius: 10px;
  }
}
@media (max-width: 768px) {
  .grid-container {
    align-items: center !important;
    /*grid*/
    display: block !important;
    margin-left: 0% !important;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .item-uno {
    background-color: #01BFA5;
    /*grid-column*/
    grid-column: 1/3;
    /*grid-row*/
    grid-row: 1/3;
  }
  .item-uno:hover {
    scale: 1.1;
    transition: 2s;
  }
  .item-uno h2 {
    font-size: 2.5rem;
    padding-left: 19px;
  }
  .item-uno p {
    font-size: 1.5rem;
    padding: 19px;
  }
  .item-uno img {
    width: auto;
    height: 200px !important;
    margin-top: 0% !important;
  }
  .item-dos {
    background-image: url(../../imgs/instragram-background.jpg);
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .item-dos:hover {
    scale: 1.1;
    transition: 2s;
  }
  .item-dos h2 {
    font-size: 2.5rem;
    padding: 19px;
  }
  .item-dos p {
    font-size: 1.5rem;
    padding-left: 19px;
  }
  .item-dos img {
    width: auto;
    height: 200px !important;
  }
  .item-tres {
    background-image: url(../imgs/Facebook-background.jpg);
    grid-column: 1/4;
    grid-row: 3/3;
  }
  .item-tres:hover {
    scale: 1.1;
    transition: 2s;
  }
  .item-tres h2 {
    font-size: 2.5rem;
    padding-left: 19px;
  }
  .item-tres p {
    font-size: 1.5rem;
    padding-left: 19px;
  }
  .item-tres img {
    width: auto;
    height: 100px !important;
  }
  .banner-networks {
    height: 409px;
    width: auto;
    background-image: url(../imgs/redes-sociales-2.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .banner-networks h1 {
    padding: 10px;
    background-color: #222222;
    border-radius: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.accordion {
  margin-top: 100px;
  margin-bottom: 100px;
}
.accordion .accordion-button {
  background-color: #222222 !important;
  color: white !important;
}
.accordion .accordion-collapse {
  background-color: #222222;
  color: white;
}

@keyframes estrella {
  0% {
    transform: rotate(-180deg);
  }
  50% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
body {
  background-color: #222222 !important;
  color: white !important;
}

main {
  background-color: #222222;
}

a {
  text-decoration: none;
  color: white;
}

.card {
  background-color: #222222 !important;
  color: white !important;
  margin: 10px;
}

.parrafos-historia {
  text-align: center;
}

.popular {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular img {
  width: auto;
  height: 50px;
  animation-name: estrella;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 1s;
}

header {
  position: sticky;
  top: 0.1px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  backdrop-filter: blur(20px);
}
header nav ul {
  background-color: #222222;
  border-radius: 10px;
  list-style-type: none;
  display: flex;
}
header nav ul li a {
  text-decoration: none;
  color: white !important;
  font-weight: 300;
  margin: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header nav ul li a:hover {
  color: rgb(233, 86, 28) !important;
  transition: 0.2s;
  padding: 20px;
}
header img {
  height: 80px;
}

footer {
  background-color: #222222;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid gray;
}
footer img {
  width: auto;
  height: 100px;
}
footer ul {
  display: flex;
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  text-decoration: none;
  color: white;
  margin: 5px;
}
footer ul li a:hover {
  color: orange;
  padding: 10px;
  transition: 1s;
}

.Whatsapp {
  width: 62px;
  position: fixed;
  bottom: 1.5%;
  right: 1.5%;
  z-index: 1;
}

.banner-drinks {
  height: 409px;
  background-image: url(../imgs/bebidas-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.banner-drinks h1 {
  padding: 10px;
  background-color: #222222;
  border-radius: 10px;
}

.banner-networks {
  height: 409px;
  background-image: url(../imgs/redes-sociales.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.banner-networks h1 {
  padding: 10px;
  background-color: #222222;
  border-radius: 10px;
}

.banner-lugares {
  height: 409px;
  background-image: url(../imgs/OIG..jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.banner-lugares h1 {
  padding: 10px;
  background-color: #222222;
  border-radius: 10px;
}

.introduccion {
  height: 40rem;
  background-image: url(../imgs/banner-main.jpg);
  background-repeat: round;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}
.introduccion ul {
  background-color: #222222;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.banner-main {
  height: 300px;
  background-image: url(../imgs/historia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.banner-main h1 {
  padding: 10px;
  background-color: #222222;
  border-radius: 10px;
}

.banner-contact {
  height: 409px;
  background-image: url(../imgs/contacto.webp);
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.banner-contact h1 {
  padding: 10px;
  background-color: #222222;
  border-radius: 10px;
}

.central {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.central img {
  width: auto;
  height: 50px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: -6%;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 60%;
  width: 90%;
  margin-left: 4.5%;
  position: absolute;
  border-radius: 10px;
}

.tienda .lista-burgers {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  border-top: 1px solid #1a1a1a;
  margin-right: 90px;
  margin-left: 90px;
  align-items: center;
  margin-bottom: 20px;
}
.tienda .lista-burgers a {
  text-decoration: none;
  color: white;
  background-color: #F75555;
  padding: 5px;
  border-radius: 10px;
}
.tienda .lista-burgers a:hover {
  color: black;
  background-color: greenyellow;
  padding: 10px;
  transition: 1s;
  font-family: "Courier New", Courier, monospace;
}
.tienda .lista-burgers img {
  height: 100px;
  border-radius: 10PX;
}

.bienvenida {
  background-color: #1a1a1a;
  color: white;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  width: 90% !important;
  margin-top: 40px;
  font-size: large;
  margin-bottom: 30px;
}
.bienvenida img {
  width: auto;
  height: 21rem;
  margin-left: 3rem;
}
.bienvenida div p {
  padding: 20px;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #222222;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1/3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
}

.contact-form form button {
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.contact-info {
  background: #222222;
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.logo {
  text-align: center;
  font-size: 3em;
  margin-bottom: 30px;
}

.logo span {
  color: #B70E21;
}

li {
  list-style-type: none;
}

.grid-container {
  /*grid*/
  display: grid;
  /*grid-template-columns: 150px 150px 150px 150px;*/
  grid-template-columns: repeat(4, 1fr);
  /*grid-template-rows: 150px 150px 150px 150px;*/
  grid-template-rows: repeat(3, 150px);
  row-gap: 10px;
  column-gap: 20px;
  gap: 25px;
  margin-left: 20%;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.grid-item {
  border-radius: 10px;
  color: #1A1A1A;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.item-uno {
  background-color: #01BFA5;
  /*grid-column*/
  grid-column: 1/3;
  /*grid-row*/
  grid-row: 1/3;
}
.item-uno:hover {
  scale: 1.1;
  transition: 2s;
}
.item-uno h2 {
  font-size: 2.5rem;
  padding-left: 19px;
}
.item-uno p {
  font-size: 1.5rem;
  padding: 19px;
}
.item-uno img {
  width: auto;
  height: 300px;
}

.item-dos {
  background-image: url(../imgs/instragram-background.jpg);
  grid-column: 3/4;
  grid-row: 1/3;
}
.item-dos:hover {
  scale: 1.1;
  transition: 2s;
}
.item-dos h2 {
  font-size: 2.5rem;
  padding: 19px;
}
.item-dos p {
  font-size: 1.5rem;
  padding-left: 19px;
}
.item-dos img {
  width: auto;
  height: 300px;
}

.item-tres {
  background-image: url(../imgs/Facebook-background.jpg);
  grid-column: 1/4;
  grid-row: 3/3;
}
.item-tres:hover {
  scale: 1.1;
  transition: 2s;
}
.item-tres h2 {
  font-size: 2.5rem;
  padding-left: 19px;
}
.item-tres p {
  font-size: 1.5rem;
  padding-left: 19px;
}
.item-tres img {
  width: auto;
  height: 150px;
}

/*# sourceMappingURL=style.css.map */
