*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

@media (max-width: 1024px){
    footer{
        background-color: #222222;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid gray;
        img{
            width: auto;
            height: 100px;
        }
        ul{
            display: block !important;
            background-color: #1a1a1a;
            padding: 10px;
            border-radius: 10px;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: white;
                    margin: 5px;
                    &:hover{
                        color: orange;
                        padding: 10px;
                        transition: 1s;
                    }
                }
            }
        }
    }
  }

a{
    text-decoration: none;
    color: white;
}

header{
    position: sticky;
    top: 0.1px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    backdrop-filter: blur(20px);
    nav{
        ul{
            background-color: #222222;
            border-radius: 10px;
            list-style-type: none;
            display: flex;
            li{
                a{
                    text-decoration: none;
                    color: white !important;
                    font-weight: 300;
                    margin: 5px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    &:hover{
                        color: rgb(233, 86, 28) !important;
                        transition: 0.2s;
                        padding: 20px;
                        
                    }
                }
            }
        }
    }
    img{
        height: 80px;
    }   
}

.card{
    background-color: #222222 !important;
    color: white !important;
    margin: 10px;
}

main{
    background-color: #222222;
}

footer{
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid gray;
    img{
        width: auto;
        height: 100px;
    }
    ul{
        display: flex;
        background-color: #1a1a1a;
        padding: 10px;
        border-radius: 10px;
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: white;
                margin: 5px;
                &:hover{
                    color: orange;
                    padding: 10px;
                    transition: 1s;
                }
            }
        }
    }
}

body{
    background-color: #222222 !important;
    color: white !important;
}

.Whatsapp{
    width: 62px;


    position: fixed;
    bottom: 1.5%;
    right: 1.5%;
    z-index: 1;
}

.banner-main{
    height: 300px;
    background-image: url(../imgs/historia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    h1{
        padding: 10px;
        background-color: #222222;
        border-radius: 10px;
    }
}


.banner-lugares{
    height: 409px;
    background-image: url(../imgs/OIG..jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    h1{
        padding: 10px;
        background-color: #222222;
        border-radius: 10px;
    }
}

.banner-networks{
    height: 409px;
    background-image: url(../imgs/redes-sociales.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    h1{
        padding: 10px;
        background-color: #222222;
        border-radius: 10px;
    }
}

.accordion{
    margin-top: 100px;
    margin-bottom: 100px;
    .accordion-button{
        background-color: #222222 !important;
        color: white !important;
    }
    .accordion-collapse{
        background-color: #222222;
        color: white;
    }
}


.parrafos-historia{
    text-align: center;
}
.introduccion{
    height: 500px;
    background-image: url(../imgs/banner-main.jpg);
    background-repeat: repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    ul{
        background-color: #222222;
        color: white;
        padding: 10px;
        border-radius: 10px;
    }
}

.popular{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: auto;
        height: 50px;
        animation-name: estrella;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 3s;
        animation-delay: 1s;
    }
}

@keyframes estrella{
    0%{
        transform: rotate(-180deg);
    }

    50%{
       transform: rotate(50deg);
    }

    100%{
        transform: rotate(180deg);
    }

}

.central{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: auto;
        height: 50px;
    }
}


.bienvenida{
    background-color: #1a1a1a;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    width: 90% !important;
    margin-top: 40px;
    font-size: large;
    margin-bottom: 30px;
    img{
        width: auto;
        height: 25rem;
    }
    div{
        p{
            padding: 20px;
        }
    }
  }

  .map-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    iframe{
        left: 0;
        top: 0;
        height: 60%;
        width: 90%;
        margin-left: 4.5%;
        position: absolute;
        border-radius: 10px;
    }
  }

  .tienda{
    .lista-burgers{
        display: flex;
        padding: 10px;
        justify-content: space-around;
        border-top: 1px solid #1a1a1a;
        margin-right: 90px;
        margin-left: 90px;
        align-items: center;
        margin-bottom: 20px;
        a{
            text-decoration: none;
            color: white;
            background-color: #F75555;
            padding: 5px;
            border-radius: 10px;
            &:hover{
                color: black;
                background-color: greenyellow;
                padding: 10px;
                transition: 1s;
                font-family: 'Courier New', Courier, monospace;
            }
        }
        img{
            height: 100px;
            border-radius: 10PX;
        }
    }
  }

