.accordion{
    margin-top: 100px;
    margin-bottom: 100px;
    .accordion-button{
        background-color: #222222 !important;
        color: white !important;
    }
    .accordion-collapse{
        background-color: #222222;
        color: white;
    }
}
