.grid-container{

    /*grid*/
    display: grid;
    /*grid-template-columns: 150px 150px 150px 150px;*/
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: 150px 150px 150px 150px;*/
    grid-template-rows: repeat(3, 150px);
    row-gap: 10px;
    column-gap: 20px;
    gap: 25px;
    margin-left: 20%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-item{
    border-radius: 10px;
    color: #1A1A1A;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  

.item-uno{
    background-color: #01BFA5;
    /*grid-column*/
    grid-column: 1/3;
    /*grid-row*/
    grid-row: 1/3;
    &:hover{
        scale: 1.1;
        transition: 2s;
    }
    h2{
        font-size: 2.5rem;
        padding-left: 19px;
    }
    p{
        font-size: 1.5rem;
        padding: 19px;
      }
    img{
        width: auto;
        height: 300px;
    }
}

.item-dos{
    background-image: url(../imgs/instragram-background.jpg);
    grid-column: 3/4;
    grid-row: 1/3;
    &:hover{
        scale: 1.1;
        transition: 2s;
    }
    h2{
        font-size: 2.5rem;
        padding: 19px;
     }
     p{
        font-size: 1.5rem;
        padding-left: 19px;
    }
    img{
        width: auto;
        height: 300px;
    }
}

.item-tres{
    background-image: url(../imgs/Facebook-background.jpg);
    grid-column: 1/4;
    grid-row: 3/3;
    &:hover{
        scale: 1.1;
        transition: 2s;
    }
    h2{
        font-size: 2.5rem;
        padding-left: 19px;
     }
    p{
        font-size: 1.5rem;
        padding-left: 19px;
    }
    img{
        width: auto;
        height: 150px;
    }
}
