@media (max-width: 1024px){
    .item-uno{
        background-color: #01BFA5;
        /*grid-column*/
        grid-column: 1/3;
        /*grid-row*/
        grid-row: 1/3;
        &:hover{
            scale: 1.1;
            transition: 2s;
        }
        h2{
            font-size: 2.5rem;
            padding-left: 19px;
        }
        p{
            font-size: 1.5rem;
            padding: 19px;
          }
        img{
            width: auto;
            height: 200px !important;
            margin-top: 25%;
        }
    }

    .banner-contact{
        height: 409px;
        background-image: url(../imgs/contacto-resposive.jpg) !important;
        margin-bottom: 50px;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        h1{
            padding: 10px;
            background-color: #222222;
            border-radius: 10px;
        }
    }

    .banner-drinks{
        height: 409px;
        background-image: url(../imgs/bebida-responsive.jpg) !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        h1{
            padding: 10px;
            background-color: #222222;
            border-radius: 10px;
        }
    }
    .tienda{
        .lista-burgers{
            display: block !important;
            padding: 10px;
            border-top: 1px solid #1a1a1a;
            margin-right: 90px;
            margin-left: 90px;
            align-items: center;
            margin-bottom: 20px;
            a{
                text-decoration: none;
                color: white;
                background-color: #F75555;
                padding: 5px;
                border-radius: 10px;
                &:hover{
                    color: black;
                    background-color: greenyellow;
                    padding: 10px;
                    transition: 1s;
                    font-family: 'Courier New', Courier, monospace;
                }
            }
            img{
                height: 190px;
                border-radius: 10px;

            }
        }
      }

    footer{
        background-color: #222222;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid gray;
        img{
            width: auto;
            height: 100px;
        }
        ul{
            display: block !important;
            background-color: #1a1a1a;
            padding: 10px;
            border-radius: 10px;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: white;
                    margin: 5px;
                    &:hover{
                        color: orange;
                        padding: 10px;
                        transition: 1s;
                    }
                }
            }
        }
    }

    .banner-main{
        height: 409px;
        background-image: url(../imgs/historia-2.jpg) !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        h1{
            padding: 10px;
            background-color: #222222;
            border-radius: 10px;
        }
    }
  }

  @media (max-width: 768px){

    .grid-container{
        align-items: center !important;
        /*grid*/
        display: block !important;
        margin-left: 0% !important;
        padding: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .item-uno{
        background-color: #01BFA5;
        /*grid-column*/
        grid-column: 1/3;
        /*grid-row*/
        grid-row: 1/3;
        &:hover{
            scale: 1.1;
            transition: 2s;
        }
        h2{
            font-size: 2.5rem;
            padding-left: 19px;
        }
        p{
            font-size: 1.5rem;
            padding: 19px;
          }
        img{
            width: auto;
            height: 200px !important;
            margin-top: 0% !important; 
        }
    }
    
    .item-dos{
        background-image: url(../../imgs/instragram-background.jpg);
        grid-column: 3/4;
        grid-row: 1/3;
        &:hover{
            scale: 1.1;
            transition: 2s;
        }
        h2{
            font-size: 2.5rem;
            padding: 19px;
         }
         p{
            font-size: 1.5rem;
            padding-left: 19px;
        }
        img{
            width: auto;
            height: 200px !important;
        }
    }
    
    .item-tres{
        background-image: url(../../imgs/Facebook-background.jpg);
        grid-column: 1/4;
        grid-row: 3/3;
        &:hover{
            scale: 1.1;
            transition: 2s;
        }
        h2{
            font-size: 2.5rem;
            padding-left: 19px;
         }
        p{
            font-size: 1.5rem;
            padding-left: 19px;
        }
        img{
            width: auto;
            height: 100px !important;
        }
    }
    

    .banner-networks{
        height: 409px;
        width: auto;
        background-image: url(../imgs/redes-sociales-2.jpg) !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        h1{
            padding: 10px;
            background-color: #222222;
            border-radius: 10px;
        }
    }
  }

